.comicItemWrapper {
  display: flex;
  padding: 0.5rem 0.25rem;
  max-width: 100%;
  overflow: hidden;
}

.comicItemImage {
  width: 5rem;
  height: 8rem;
  object-fit: cover;
  object-position: center;
  margin-right: 0.25rem;
  box-sizing: border-box;
  border: 3px black solid;
  background-color: #ccc;
}

.comicItemMeta {
  width: calc(100% - 5.25rem);
}

.comicItemTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}

.comicItemSubtitle {
  color: #666;
  margin-top: 0.25rem;
  font-size: 0.75rem;
}

.comicItemTagWrapper {
  margin-top: 0.5rem;
}

.comicItemTag {
  display: inline-block;
  font-size: 0.75rem;
  border: 1px solid black;
  padding: 0.1rem 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.1rem;
}