.wrapper {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	box-sizing: border-box;
	z-index: 1;
	background-color: white;
	display: flex;
	align-items: center;
}

.iconBtn {
	width: 100px;
	height: 100px;
	padding: 0.75rem;
	box-sizing: border-box;
	display: inline-block;
}

.searchBar {
	flex-grow: 1;
	border: 2px solid black;
	height: 72px;
	border-radius: 72px;
	padding: 0 28px;
	outline: none;
	margin: 0 8px;
	margin-left: 0.75rem;
}

.pageTitle {
	flex-grow: 1;
	margin-left: 0.5rem;
	font-weight: bold;
}

:global(html.fullscreen) .wrapper {
	display: none;
}
