.batteryIcon .wrapper {
	position: relative;
	display: inline-block;
	width: 1.1rem;
	height: 0.65rem;
	border: 0.08rem solid #000;
	box-sizing: border-box;
	padding: 0.08rem;
}

.batteryIcon .wrapper::after {
	content: "";
	display: block;
	position: absolute;
	right: -0.25rem;
	top: 0.12rem;
	width: 0.25rem;
	height: 0.25rem;
	background: #000;
}

.batteryIcon .inner {
	width: 50%;
	height: 100%;
	background: #000;
	display: block;
}

.batteryIcon .iconStatus {
	width: 100%;
	height: 100%;
	display: block;
	background: var(--icon) no-repeat center;
}
