* {
	transition-duration: 0s !important;
	animation-duration: 0s !important;
}

html,
body {
	margin: 0;
}

html {
	font-size: 36px;
	padding-top: 100px;
	font-family: STHeiti;
	box-sizing: border-box;
	user-select: none;
	height: 100vh;
}

html.fullscreen {
	padding-top: 0;
}

.clickable-item,
button {
	transition-delay: 0.2s;
	user-select: none;
}

.clickable-item:active,
button:active {
	filter: invert(1);
	background-color: white;
	transition-delay: 0s;
}

select,
input {
	font-size: 1rem;
	user-select: initial;
}

button {
	appearance: none;
	background: transparent;
	font-size: 0.75rem;
	border: 3px black solid;
	color: #333;
	padding: 0.25rem 0.75rem;
}

button:active {
	border: 3px white solid;
}

button:disabled {
	border: 3px #999 solid;
	color: #999;
}

input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
}

a[href].clickable-item {
	color: inherit;
	text-decoration: inherit;
}

input {
	appearance: none;
	border: 2px black solid;
	padding: 0 0.25rem;
	outline: none;
}

select {
	appearance: none;
	padding: 0.25rem 1rem 0.25rem 0.25rem;
	outline: none;
	border: 2px black solid;
	font-size: 0.75rem;
	background: url("@sicons/material/KeyboardArrowDownFilled.svg") no-repeat;
	background-size: auto 75%;
	background-position: right center;
}

input[type="checkbox"]:checked {
	background: url("@sicons/material/CheckBoxSharp.svg") no-repeat;
	background-size: 150%;
	background-position: center;
}
