.sourceConfigItem {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	box-sizing: border-box;
}

.sourceInitializeError > div::before {
	content: "";
	padding: 0.5em;
	background: url("@sicons/material/WarningAmberOutlined.svg") center/contain
		no-repeat;
	margin-right: 0.25rem;
}

.sourceInitializeError {
	overflow: hidden;
	margin: 0.5rem;
	padding: 0.25rem;
	box-sizing: border-box;
	border: 3px solid black;
	border-radius: 5px;
}

.sourceInitializeError pre {
	white-space: pre-wrap;
	margin: 0;
	margin-top: 0.5rem;
	font-size: 0.5rem;
}
