.listItemWrapper {
  display: flex;
  padding: 0.75rem 0.5rem;
  align-items: center;
}

.listItemDesc {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: #666;
}

.listItemMeta {
  flex-grow: 1;
}

.listItemBtn {
  padding: 0.5rem;
}