.listItemWrapper {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  border-bottom: 2px solid black;
}

.listItemDesc {
  font-size: 0.75rem;
  min-height: 1rem;
  color: #666;
}

.listItemMeta {
  flex-grow: 1;
}