* {
  transition-duration: 0s!important;
  animation-duration: 0s!important;
}

html, body {
  margin: 0;
  max-width: 1246px;
}

html {
  font-size: 36px;
}

.clickable-item {
  transition-delay: 0.1s;
  user-select: none;
}

.clickable-item:active {
  filter: invert(1);
  background-color: white;
  transition-delay: 0s;
}