.promptLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #ffffffcc;
}

.promptDialog {
  padding: 1rem;
  min-width: 720px;
  min-height: 240px;
  border-radius: 8px;
  border: 4px black solid;
}

.promptTitle {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.promptField {
  width: 100%;
}

.promptFieldTitle {
  font-size: 0.85rem;
}

.promptField input {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.promptBottom {
  padding-top: 1rem;
  text-align: right;
}

.promptBottom button {
  border-color: white;
}