.alertLayer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 1rem;
	padding-bottom: 0.5rem;
	box-sizing: border-box;
	max-height: 40vh;
	overflow: hidden;
}

.alertWrapper {
	display: flex;
	width: 100%;
	border: 3px black solid;
	border-radius: 8px;
	background-color: white;
	align-items: center;
	padding: 0.5rem 1rem;
	box-sizing: border-box;
	margin-bottom: 0.5rem;
}

.alertIcon {
	width: 1.25rem;
	height: 1.25rem;
	margin-right: 0.5rem;
}

.alertIcon img {
	width: 100%;
	height: 100%;
}
