.alertWrapper {
	display: flex;
	width: calc(100% - 1rem);
	border: 3px black solid;
	border-radius: 8px;
	background-color: white;
	align-items: center;
	padding: 0.5rem 1rem;
	box-sizing: border-box;
	margin: 0.5rem;
	position: fixed;
	left: 0;
	bottom: 0;
}

.alertIcon {
	width: 1.25rem;
	height: 1.25rem;
	margin-right: 0.5rem;
}

.alertIcon img {
	width: 100%;
	height: 100%;
}
