.sourceConfigItem {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	box-sizing: border-box;
}

.itemDescription {
	font-size: 0.8rem;
	opacity: 0.75;
	line-height: 1.5;
}
